@import url("https://fonts.googleapis.com/css2?family=New+Amsterdam&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0px;
  padding: 0px;
}

#root {
  background-color: white;
}
@page {
  margin: 0;
  size: A4 portrait; /* or letter if you prefer US size */
}
.body--dragging {
  touch-action: none !important;
  overflow: hidden !important;
  position: fixed; /* Prevents scrolling on some iOS Safari cases */
  width: 100%;
}

@page {
  size: A4 landscape;
  margin: 8mm; /* or 5mm / 10mm — adjust to taste */
}

@media print {
  html,
  body {
    height: 100%;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* Force full-page usage for main content wrapper */
  #root,
  .app-container,
  .print-full-page {
    height: 100vh !important; /* 100vh is respected in most print engines */
    min-height: 100% !important;
    max-height: 100% !important;
  }
}
